.logo {
  font-size: 50px;
  margin: 0;
  font-family: "DM Sans";
  font-weight: 600;
  color: black;
}

.intro {
  text-align: right;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 40px;
  font-family: "DM Sans";
  font-weight: 200;
  font-size: 80px;
}

.highlight {
  background-color: #7871F1;
  color: white;
  font-weight: 300;
}


.contact {
  min-height: 50vh;
  background-image: url('../../public/bg5.png');
  background-position: right;
  background-size: cover;
  margin-top: -57px;
}

.contact h2 {
  font-size: 70px;
  margin-bottom: 2rem;
  font-family: "DM Sans";
  font-weight: 200;
  padding: 100px 50px 0px 50px;
}

-------



.heading {
  font-size: 70px;
  margin-bottom: 2rem;
  font-family: "DM Sans";
  font-weight: 200;
  padding: 0 20px;
  color: #7871F1;
  height: 30vh;
  width: 100%;

}

.heading1 {
  font-size: 70px;
  margin-bottom: 2rem;
  font-family: "DM Sans";
  font-weight: 200;
  padding: 0 20px;
  margin-top: 300px;
  color: #7871F1;
}

.heading12 {
  font-size: 70px;
  margin-bottom: 2rem;
  font-family: "DM Sans";
  font-weight: 200;
  padding: 0 50px;
  color: white;
}

.bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #7871F1;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 20px;
}

.card {
  flex: 1;
  min-width: 280px;
  border: 1px solid #7871F1;
  display: flex;
  flex-direction: column;
  padding: 40px 25px 20px 25px;
}

.card:hover {
  background-color: #7871F1;
  color: whitesmoke;
}

.cardTitle {
  font-size: 2.2rem;
  margin-bottom: -0.5rem;
  font-family: "Commissioner";
  font-weight: 500;
}

.cardDesc {
  font-size: 1rem;
  margin-bottom: 40px;
  font-family: "Commissioner";
  font-weight: 100;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.listItem {
  font-size: 1.05rem;
  margin-bottom: 0.5rem;
  font-family: "Commissioner";
  font-weight: 200;
}

.serviceContainer {
  padding: 2rem;
  min-height: 60vh;
  background-image: url('../../public/bg2.jpg');
  background-position: bottom;
  background-size: cover;  
  background-repeat: no-repeat;
}

-----------

.stepContainer {
  overflow: hidden;
}

.step {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border: #7871F1 1px solid;
  margin: auto;
  border-left: 0px;
}

.step:hover{
  background-color: #7871F1;
  color: white;
}

.step:first-child {
  padding-top: 80px;
} 

.steps {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 25px 20px;
  margin: auto;
}  


.numberCircle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  font-size: 25px;
}

.stepTitle {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Commissioner";
  margin-bottom: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  
}


.stepDesc {
  font-size: 1rem;
  font-family: "Commissioner";
  font-weight: 100;
}

@media screen and (max-width: 760px) {
  .intro {
    font-size: 50px;
  }

  .contact h2 {
    font-size: 40px;
  }

}